@font-face {
  font-family: "Cooper Black";
  src: url("/fonts/CooperBlack.woff2") format("woff2"),
       url("/fonts/CooperBlack.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


.playfair-font {
  font-family: "Playfair", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

@import "tailwindcss";

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-out forwards;
}


.font-cooper-custom{
  font-family: "Cooper Black", serif !important;
}

body {
  font-family: "Playfair Display", serif;
}